In [1]:
import pandas as pd
import numpy as np

In [2]:
pheno_p = '/Users/harveyaa/Documents/masters/data/pheno_26-01-22.csv'
pheno = pd.read_csv(pheno_p,index_col=0)

/var/folders/5x/9dwn0lbx633gccy22ts5bskh0000gn/T/ipykernel_38279/2303051884.py:2: DtypeWarning: Columns (7,8,12,13,14,19,20,24,27,31,42,43,44,49,51,59,60,62,64,65,68,101,121,163) have mixed types. Specify dtype option on import or set low_memory=False.
  pheno = pd.read_csv(pheno_p,index_col=0)

In [3]:
cases = ['SZ','ASD','BIP','DEL22q11_2','DUP22q11_2','DEL16p11_2','DUP16p11_2','DEL1q21_1','DUP1q21_1']

In [18]:
pheno[pheno['ASD'] == 1]['PI'].unique()

array(['ABIDE', 'ABIDE2'], dtype=object)

In [20]:
pheno[pheno['PI']=='ABIDE2'].groupby('SITE').sum()[['ASD','CON_IPC']]

/var/folders/5x/9dwn0lbx633gccy22ts5bskh0000gn/T/ipykernel_38279/2853788055.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pheno[pheno['PI']=='ABIDE2'].groupby('SITE').sum()[['ASD','CON_IPC']]

                  ASD  CON_IPC
SITE
ABIDEII-BNI_1    10.0      6.0
ABIDEII-ETH_1     9.0     23.0
ABIDEII-GU_1     31.0     26.0
ABIDEII-IP_1      7.0      7.0
ABIDEII-IU_1      5.0      3.0
ABIDEII-KKI_1    10.0     17.0
ABIDEII-NYU_1    41.0     27.0
ABIDEII-OHSU_1   30.0     27.0
ABIDEII-OILH_2   10.0     13.0
ABIDEII-SDSU_1   22.0     21.0
ABIDEII-SU_2      9.0      7.0
ABIDEII-TCD_1    18.0     18.0
ABIDEII-UCD_1    11.0     10.0
ABIDEII-UCLA_1   11.0      9.0
ABIDEII-USM_1    14.0     13.0
ABIDEII-U_MIA_1   9.0     10.0

In [3]:
var = None
var = 6

In [4]:
if (True) & (var is not None):
    print('YUES')

YUES

In [5]:
(10 + 14 + 12 + 8 + 12)/(5*35)

0.32

In [6]:
(14 + 14 + 10 + 10 + 10)/(5*25)

0.464